body {
  background-color: rgb(255, 220, 226);
  margin: 20px;
}
h1 {
  /* position: absolute; */
  text-align: center;
  color: fuchsia;
  font-size: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 200px;
  width: 100%;
  margin: 20px;
  vertical-align: center;
  line-height: 200px;
}
main {
  margin: 30px;
}
#hk_img {
  height: 100px;
  width: auto;
}
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#main {
  display: flex;
  flex-direction: row;
}
#flex {
  flex: 2;
  margin: 10px;
}
