body {
  background-color: rgb(255, 220, 226);
}

header {
  z-index: -1;
  background: url(https://data.whicdn.com/images/353828523/original.jpg);
  height: 150px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1 {
  text-align: center;
  z-index: 10;
  color: fuchsia;
  font-size: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main {
  margin: 30px;
}
#hk_img {
  height: 100px;
  width: auto;
}

/* #header_img {
  z-index: -1;
} */

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
