body {
  background-color: rgb(255, 220, 226);
}

/*header {
  text-align: center;
  height: 200px;
  width: 770px;
  overflow: auto;
  margin-bottom: 20px;
}
 header_img {
  z-index: -1;
  height: 150px;
  width: 100%;
  /* background: url(https://data.whicdn.com/images/353828523/original.jpg); 
  position: relative;
} */
h1 {
  /* position: absolute; */
  text-align: center;
  z-index: 10;
  color: fuchsia;
  font-size: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 200px;
  width: 100%;
  margin-bottom: 20px;
  vertical-align: center;
  /* line-height: 200px; */
  /* background: transparent no-repeat scroll 50% 50%; */
}
main {
  margin: 30px;
}
#hk_img {
  height: 100px;
  width: auto;
}

/* #header_img {
  z-index: -1;
} */

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
