body {
  background-color: pink;
}
header {
  background: url(https://data.whicdn.com/images/353828523/original.jpg);
  height: 200px;
  width: 100%;
}
h1 {
  text-align: center;
  z-index: 10;
  color: black;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main {
  margin: 30px;
}
#hk_img {
  height: 100px;
  width: auto;
}

#header_img {
  z-index: -1;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
